<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Abacus</display-name>
	<description>Abacus server Application</description>

	<servlet>
		<description>Account web service</description>
		<display-name>Account</display-name>
		<servlet-name>Account</servlet-name>
		<servlet-class>com.landawn.abacus.http.WebServiceServlet</servlet-class>

		<init-param>
			<param-name>serviceImplClass</param-name>
			<param-value>com.landawn.abacus.http.demo.AccountServiceImpl</param-value>
		</init-param>
		<init-param>
			<param-name>urlMapper</param-name>
			<param-value>getAccount=getAccount1; getAccount2=getAccount2; addAccount=addAccount</param-value>
		</init-param>
		<init-param>
			<param-name>httpMethodMapper</param-name>
			<param-value>getAccount=ALL; getAccount2=GET, POST; addAccount=POST, PUT</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Account</servlet-name>
		<url-pattern>/AccountService/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>echo</servlet-name>
		<servlet-class>com.landawn.abacus.http.EchoServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>getFirst</servlet-name>
		<servlet-class>com.landawn.abacus.http.EchoServlet</servlet-class>
		<init-param>
			<param-name>isGetFirst</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>ExtendDirty</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>ExtendDirty</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>extendDirtyBasic</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>extendDirtyBasic</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>extendDirtyLV</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>extendDirtyLV</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>extendDirtyLVC</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>extendDirtyLVC</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>extendDirtyVC</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>extendDirtyVC</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ImplDirty</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>ImplDirty</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>implDirtyBasic</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>implDirtyBasic</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>implDirtyLV</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>implDirtyLV</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>implDirtyLVC</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>implDirtyLVC</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>implDirtyVC</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>implDirtyVC</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>NoInherit</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>NoInherit</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>StringId</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>StringId</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>pjoBasic</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>pjoBasic</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>pjoLV</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>pjoLV</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>pjoLVC</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>pjoLVC</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>pjoVC</servlet-name>
		<servlet-class>com.landawn.abacus.http.DataAccessServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>pjoVC</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>echo</servlet-name>
		<url-pattern>/echo</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>getFirst</servlet-name>
		<url-pattern>/getFirst</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ExtendDirty</servlet-name>
		<url-pattern>/ExtendDirty</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>extendDirtyBasic</servlet-name>
		<url-pattern>/extendDirtyBasic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>extendDirtyLV</servlet-name>
		<url-pattern>/extendDirtyLV</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>extendDirtyLVC</servlet-name>
		<url-pattern>/extendDirtyLVC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>extendDirtyVC</servlet-name>
		<url-pattern>/extendDirtyVC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImplDirty</servlet-name>
		<url-pattern>/ImplDirty</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>implDirtyBasic</servlet-name>
		<url-pattern>/implDirtyBasic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>implDirtyLV</servlet-name>
		<url-pattern>/implDirtyLV</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>implDirtyLVC</servlet-name>
		<url-pattern>/implDirtyLVC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>implDirtyVC</servlet-name>
		<url-pattern>/implDirtyVC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoInherit</servlet-name>
		<url-pattern>/NoInherit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StringId</servlet-name>
		<url-pattern>/StringId</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pjoBasic</servlet-name>
		<url-pattern>/pjoBasic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pjoLV</servlet-name>
		<url-pattern>/pjoLV</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pjoLVC</servlet-name>
		<url-pattern>/pjoLVC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pjoVC</servlet-name>
		<url-pattern>/pjoVC</url-pattern>
	</servlet-mapping>
</web-app>
